@import "tailwindcss";

@theme {
  --color-primary: #D6A72B;
  --color-primary-hover: #b58c21;
  --color-bg-dark: #090A0C;
  --color-bg-panel: #111216;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-dark);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden;
  user-select: none;
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
